{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2024,
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],

    "rules": {
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/consistent-type-definitions": "error",
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "variable",
                "modifiers": ["const"],
                "format": ["UPPER_CASE"]
            }
        ]
    },

    "env": {
        "browser": false,
        "es2021": true
    }
}
