@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    @apply bg-base-200;
}

.menu-icon {
    @apply text-base-content;

    width: 1.25rem;
    height: 1.25rem;
}

.data-badge {
    @apply badge font-mono badge-neutral;
}

.btn-icon {
    width: 1rem;
    height: 1rem;
}

.badge-xxs {
    height: 0.5rem;
    font-size: 0.5rem;
    line-height: 0.5rem;
    padding-left: 0.19rem;
    padding-right: 0.19rem;
}
