@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root {
    --padding: 8px;
    --border-radius: 0.5rem;
    --font-size-smaller: 0.75rem;
    --font-size-small: 0.9rem;
    --font-size-medium: 1.1rem;
    --font-weight-light: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 800;

    --gap-small: 5px;
    --gap-medium: 15px;
    --gap-large: 25px;

    --ui-font: 'Assistant', sans-serif;

    --checkbox-disabled: #f6f8ff;
    --checkbox-disabled-inner: #e1e6f9;
    --shadow-island: 0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
        0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08), 0px 7px 14px 0px rgba(0, 0, 0, 0.05);
}

body.dark-mode {
    --color-primary: #a8a5ff;
    --color-primary-darker: #b2aeff;
    --color-primary-darkest: #beb9ff;
    --color-primary-light: #4f4d6f;
    --color-primary-light-darker: #43415e;
    --color-primary-hover: #bbb8ff;
    --color-on-primary-container: #e0dfff;

    --color-island-bg: #232329;
    --color-surface-high: hsl(245, 10%, 21%);
    --color-surface-low: hsl(240, 8%, 15%);
    --color-surface-mid: hsl(240 6% 10%);
    --color-surface-lowest: hsl(213, 19%, 9%);
    --color-surface-primary-container: #403e6a;
    --color-on-surface: #e3e3e8;

    --color-border: hsl(245, 10%, 21%);
}

body.light-mode {
    --color-primary: #6965db;
    --color-primary-darker: #5b57d1;
    --color-primary-darkest: #4a47b1;
    --color-primary-light: #e3e2fe;
    --color-primary-light-darker: #d7d5ff;
    --color-primary-hover: #5753d0;
    --color-on-primary-container: #030064;

    --color-island-bg: #ffffff;
    --color-surface-high: hsl(244, 100%, 97%);
    --color-surface-mid: hsl(240 25% 96%);
    --color-surface-low: hsl(240 25% 94%);
    --color-surface-lowest: #ffffff;
    --color-surface-primary-container: #e0dfff;
    --color-on-surface: #1b1b1f;

    --color-border: hsl(244, 100%, 97%);
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--color-surface-lowest);
    font-family: var(--ui-font);
    color: var(--color-on-surface);
}

.hero-grid {
    background-blend-mode: screen;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.15)'%3E%3Cpath d='M0 .5h31.5V32'/%3E%3C/svg%3E");
    background-repeat: repeat;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
}

.setting-label {
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: var(--font-size-small);
    font-weight: bold;
    display: block;
}

#stats-island {
    cursor: grab;
    flex-shrink: 0;
    min-width: max-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    z-index: 100;
    top: 25px;
    right: 25px;
    background-color: var(--color-island-bg);
    box-shadow: var(--shadow-island);
    border-radius: var(--border-radius);
    padding: 12px;
}

#stats-island h3,
#stats-island h4 {
    margin: 0;
    text-align: center;
}

#stats-island h4 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    border-bottom: 1px solid var(--color-border);
    margin-top: 6px;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

#stats-island li {
    margin-top: 1px;
    font-size: var(--font-size-small);
    display: flex;
    font-weight: var(--font-weight-light);
    justify-content: space-between;
    gap: var(--gap-large);
}

#stats-island li span {
    font-weight: var(--font-weight-medium);
    background-color: var(--color-surface-mid);
    padding: 0 5px;
    border-radius: 5px;
}

#dropdown-checkbox,
#dropdown {
    position: absolute;
    top: 25px;
    left: 25px;
}

#dropdown {
    top: 50px;
    background-color: var(--color-island-bg);
    border-radius: var(--border-radius);
    padding: var(--padding);
    z-index: 100;
    flex-direction: column;
    gap: var(--gap-medium);
    box-shadow: var(--shadow-island);
}

#dropdown h3 {
    margin: 0;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.no-select {
    user-select: none;
}

.number-input span {
    font-size: var(--font-size-smaller);
    font-weight: 400;
}

.number-input {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    margin-bottom: 0.25rem;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    gap: var(--gap-small);
    background-color: var(--color-surface-mid);
}

.radio-group-choice {
    position: relative;
    width: 100%;
    height: 24px;
    padding: 2px;
    display: flex;
    border-radius: var(--border-radius);
    transition: all 150ms ease-out;
}

.radio-group-choice input {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    margin: 0;
    padding: 0;
    border-radius: var(--border-radius);
}

.radio-group-choice svg {
    width: 18px;
    height: 18px;
    z-index: 20;
    margin: auto;
    stroke: var(--color-on-surface);
    fill: transparent;
    pointer-events: none;
}

.radio-group-choice.active {
    background-color: var(--color-surface-primary-container);
}

.radio-group-choice.active svg {
    fill: var(--color-on-primary-container);
    stroke: var(--color-on-primary-container);
}

.toggle-controls {
    display: flex;
    gap: var(--gap-small);
    flex-direction: column;
    align-items: flex-start;
}

.checkbox-wrapper input[type='checkbox'] {
    --active: var(--color-surface-primary-container);
    --active-inner: var(--color-on-primary-container);
    --focus: var(--color-primary);
    --border: var(--color-surface-primary-container);
    --border-hover: var(--color-primary);
    --background: var(--color-surface-mid);
    --disabled: var(--checkbox-disabled);
    --disabled-inner: var(--checkbox-disabled-inner);

    appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

.checkbox-wrapper input[type='checkbox']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}

.checkbox-wrapper input[type='checkbox']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.checkbox-wrapper input[type='checkbox']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
}

.checkbox-wrapper input[type='checkbox']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
}

.checkbox-wrapper input[type='checkbox']:disabled + label {
    cursor: not-allowed;
}

.checkbox-wrapper input[type='checkbox']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}

.checkbox-wrapper input[type='checkbox']:focus {
    box-shadow: 0 0 0 var(--focus);
}

.checkbox-wrapper input[type='checkbox']:not(.switch) {
    width: 21px;
    border-radius: 7px;
}

.checkbox-wrapper input[type='checkbox']:not(.switch):after {
    opacity: var(--o, 0);
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
}

.checkbox-wrapper input[type='checkbox']:not(.switch):checked {
    --o: 1;
    --r: 43deg;
}

.checkbox-wrapper input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
}

.checkbox-wrapper input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
}

.checkbox-wrapper input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
}

.checkbox-wrapper input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: 0.6;
}

.checkbox-wrapper * {
    box-sizing: inherit;
}

.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
    box-sizing: inherit;
}

.checkbox-wrapper label {
    margin-left: 15px;
    font-size: var(--font-size-small);
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
}
